@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

section
{
	padding: 100px;
}

.banner
{
	position: relative;
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
}

/* dropdown */
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	white-space: nowrap;
	position: relative;
	float: right;
}

nav .mainMenu>li{
	display: inline-block;
	margin-right: -5px;
}

nav a{
	margin: 0;
	text-align: left;
	padding: 12px 15px 12px 15px;
	
	position: relative;
	display: block;
}

nav li:hover>a {
	background:gray ;
	cursor: pointer;
}

nav .subMenu {
	position: absolute;
	background-color: rgb(98, 117, 117);
	display: none;
}

nav .mainMenu>li:hover .subMenu {
	display: block;
}

/* dropdown */

header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	z-index: 1000;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	transition: 0.5s;
}
header.sticky
{
	background: #111111;
	padding: 1px 100px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.1);

}

header .logo
{
	position: relative;
	max-width: 120px;
	transition: 0.5s;
}

header.sticky .logo
{
	background: #111111;
	filter: invert(0);
}

header .logo:hover
{
	transform: translateY(20px);
}

header ul
{
	position: relative;
	display: flex;
}

header ul li 
{
	position: relative;
	list-style: none;
}

header ul li a
{
	position: relative;
	display: inline-block;
	color: #333;
	font-weight: 480;
	margin-left: 20px;
	text-decoration: none;

}


header.sticky ul li a
{
	color: #fff
}

.copyright
{
	text-align: center;
	padding: 10px;
	font-weight: 800;
}
.copyright p
{
	font-family: 'Indie Flower', cursive;
}


/* TUGAS */
/* ======================================================== DUNIA ================================================================= */

.tugas3 {
    font-family:  'Indie Flower', cursive;
    font-size: 50px;
    color:  #133435;
    text-align: center;
    left: 370px;
    width: 500px;
    top: -25px;
    position:relative;
}

.judul1 {
    width: 1250px;
    margin: auto;
}

.judul1 .tugas3 {
    font-family:  'Indie Flower', cursive;
    font-size: 45px;
    text-align: center;
    margin-top: 50pt;
    font-weight: bold;
}

.judul1 p {
    font-family:  'Indie Flower', cursive;
    font-size: 30px;
    margin: 0 0 20px;
    text-align: center;
}

.lastUpdate span {
    font-family:  'Indie Flower', cursive;
    font-size: 27px;
    font-weight: bold;
    color: #133435;
    display: flex;
    margin-top: -10px;
    justify-content: center;
}

.tab {
    display: inline-block;
    margin-left: 20px;
}

.main {
    background-color: #b2b883;
    width: 70%;
    margin: 50px auto;
    padding: 20px;
    z-index: 1;
    border-radius: 24px;
    padding: 2%;
    box-shadow: 0px 10px 60x -8px #133435;
}

.main .board {
    column-count: 3;
    column-gap: 1rem;
}

.main .board h5{
    font-size: 17px;
    
}

.judul1 img {
    width: 30px;
    position: absolute;
    float: right;
    padding-right: 240px;
    margin-left: 15px;
    margin-top: 0.8%; 
}

.card {
    width: 84%;
    background: #ebebe0;
    padding: 4%;
    margin-bottom: 20px;
    border-radius: 6px;
    color: #133435;
    font-family:  'Indie Flower', cursive;
}

.Positif {
    background:rgb(187, 103, 119);
	font-family:  'Indie Flower', cursive;
}

.Sembuh {
    background: #b3d5dd;
	font-family:  'Indie Flower', cursive;
}

.Meninggal {
    background: rgb(236, 213, 197);
	font-family:  'Indie Flower', cursive;
}

.card span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 4px;
}


.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
} 