@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

section
{
	padding: 100px;
}

.banner
{
	position: relative;
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
}

/* dropdown */
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	white-space: nowrap;
	position: relative;
	float: right;
}

nav .mainMenu>li{
	display: inline-block;
	margin-right: -5px;
}

nav a{
	margin: 0;
	text-align: left;
	padding: 12px 15px 12px 15px;
	
	position: relative;
	display: block;
}

nav li:hover>a {
	background:gray ;
	cursor: pointer;
}

nav .subMenu {
	position: absolute;
	background-color: rgb(98, 117, 117);
	display: none;
}

nav .mainMenu>li:hover .subMenu {
	display: block;
}

/* dropdown */

header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	z-index: 1000;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	transition: 0.5s;
}
header.sticky
{
	background: #111111;
	padding: 1px 100px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.1);

}

header .logo
{
	position: relative;
	max-width: 120px;
	transition: 0.5s;
}

header.sticky .logo
{
	background: #111111;
	filter: invert(0);
}

header .logo:hover
{
	transform: translateY(20px);
}

header ul
{
	position: relative;
	display: flex;
}

header ul li 
{
	position: relative;
	list-style: none;
}

header ul li a
{
	position: relative;
	display: inline-block;
	color: #333;
	font-weight: 480;
	margin-left: 20px;
	text-decoration: none;

}


header.sticky ul li a
{
	color: #fff
}

.copyright
{
	text-align: center;
	padding: 10px;
	font-weight: 800;
}
.copyright p
{
	font-family: 'Indie Flower', cursive;
}


/* Halaman Baru */
.tugas {
    font-family:  'Indie Flower', cursive;
    font-size: 50px;
    color:  #133435;
    text-align: center;
    left: 310px;
    width: 500px;
    top: -620px;
    position:relative;
}

.square5 {
    position: relative;
    top: 20px;
    height: 520px;
    width: 500px;
}

.statistik {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    color: #63815c;
    text-align: center;
    left: 300px;
    width: 500px;
    top: -780px;
    position:relative;
}

.top form input{
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    text-align: justify;
    left: 300px;
    top: -720px;
    width: 500px;
    height: 40px;
    z-index: 1;
    position: relative;
}
.button1{
   margin:0%;
   margin-left: 500px;
   margin-top: -690px;
   width: 700px;
   z-index: 1;
   position: relative;
}
.hasil {
    font-family: 'Adamina';
    text-align: justify;
    font-size: 15px;
    left: 400px;
    top: -460px;
    z-index: 1;
    position: relative;
}
